@mixin mediaS {
    @media screen and (max-width: 500px) {
        @content;}
    }


    @mixin mediaM {
        @media screen and (max-width: 768px) {
            @content;}
        }

        @mixin mediaL {
            @media screen and (min-width: 769px) and (max-width: 1170px) {
                @content;}
            }

            @mixin mediaXL {
                @media screen and (min-width: 1171px) {
                    @content;}
                }


@include mediaXL {
    .projects {
        grid-template-columns: repeat(5, 1fr);
    }
}


@include mediaL {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}


@include mediaM {
  .videos {
    grid-template-columns: 1fr;
  }
    main { align-items: center;
    text-align: center;
.lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
} }
ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
        transform: translate3d(0, 0, 0);
    }
}
.menu-nav {
    transform: translate3d(-100, 0, 0);

}
.menu-branding {
    display: none;
}
.projects {
    grid-template-columns: repeat(3, 1fr);
}
}


@include mediaS {
  main {
    padding-right: 2rem;
    padding-left: 2rem;
  }
    main#home h1 {
        margin-top: 10vh;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
