
@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: rgb(194, 172, 171);
    height: 100%; 
    margin: 0%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 20;

    &.lg-heading {
        font-size: 5rem;
        font-weight: 100;
    }
&.sm-heading {
    margin-bottom: 2rem;
    padding: 0 1rem;
    background: rbga(lighten($primary-color, $amount: 2), 0.5);
}
}

h1 {
    padding-top: 100px;
}
h2 {
    margin-left: 10px;
}
a {
    color: rgb(194, 172, 171);
    text-decoration: none;
    margin-left: 100px;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

             &:hover {
                 color: $secondary-color;
                 @include easeout();
             }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.lg-heading-about {
    font-size: 2rem;
    margin-left: 0;
}

.paragraph {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'biogr biogr biogr'
    'par par par';
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;

    .bio {
        grid-area: biogr;
    }


}
.text-secondary {
    padding-top: 140px;
}

/// works ///


.lg-heading-works {
    padding-bottom: 30px;
}
.projects {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 200px;
    
    img {
        width: 100%;
        border-radius: 0%;
        &:hover {
        opacity: 0.5;
        background: $secondary-color;
        @include easeout;
        padding-top: 30px;
        }
    }


}


video { 
    width: 100%;
    border-radius: 0%;
    &:hover {
    opacity: 0.5;
    background: $secondary-color;
    @include easeout;
    padding-top: 30px;   
}
}
.itemv {
    margin-left: 100px;
    width: 100%;
}
.lg-heading-photography {
    padding-bottom: 30px;
}

.lg-heading-video {
    padding-bottom: 30px;
}


.lg-heading-other {
    padding-bottom: 30px;
}



/// works separated /// 

.lg-heading-oase {
    padding-bottom: 30px;
}

.oase {
width: 40%;
height: 40%;
align-items: center;
justify-content: center;
}


.lg-heading-imposter {
    padding-bottom: 30px;
}
.imposter {
    width: 80%;
height: 80%;
align-items: center;
justify-content: center;
}


.lg-heading-interview {
    padding-bottom: 30px;
}
.interview {
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    }


/// contacts ///

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
    margin-top: 1rem;
    div {
        font-size: 1rem;
        border: 1px $secondary-color solid;
        padding: 1.5rem 1.5rem;
        margin-bottom: 3rem;;
        @include easeout;
        &:hover {
            padding: 0.5rem 1.5rem;
            background: $primary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($secondary-color);
            }

        }

    }

}

@import 'mobile';